apiVersion: v1
kind: ConfigMap
metadata:
  generateName: {{ gig_run.name }}-
  namespace: {{ gig_run.namespace }}
data:
{%- for configMapFile in configMapFiles %}
  {{ configMapFile }}: |-
    {% filter indent(width=4) %}
    {%- include configMapFile %}
    {%- endfilter %}
{%- endfor %}

{%- for stage in gig_def.stages %}
  {%- if stage.processor != 'Shell' %}
  {{ stage.name }}: |-
    {% filter indent(width=4) %}
    {{- stage.script }}
    {%- endfilter %}
  {% endif %}
{%- endfor %}

  .secrets: |-
    {% filter indent(width=4) %}
    {{- SECRET_VARS }}
    {%- endfilter %}
immutable: true
