apiVersion: v1
kind: ConfigMap
metadata:
  generateName: {{ gig_run.name }}-
  namespace: {{ gig_run.namespace }}
data:
{%- for configMapFile in configMapFiles %}
  {{ configMapFile }}: |-
    {% filter indent(width=4) %}
    {%- include configMapFile %}
    {%- endfilter %}
{%- endfor %}

{%- for stage in gig_def.stages %}
  {%- if stage.processor != 'Shell' %}
  {{ stage.name }}: |-
    {% filter indent(width=4) %}
    {{- stage.script }}
    {%- endfilter %}
  {% endif %}
  {%- if stage.when %}
  {%- set WHEN_FILE_NAME = 'when-{}.js'.format(stage.name) %}
  {{ WHEN_FILE_NAME}}: |-
    const env = {...process.env}
    {%- set INIT_RESULT = 'true' if 'AND' in stage.when[0] else 'false' %}
    result = {{ INIT_RESULT }}
    {%- for when_stmt in stage.when %}
    {%- if (when_stmt.AND) %}
    result &&= (Boolean({{ when_stmt.AND }}))
    {%- else %}
    result ||= (Boolean({{ when_stmt.OR }}))
    {% endif %}
    {% endfor %}
    console.log(result)
  {% endif %}
{%- endfor %}

  .secrets: |-
    {% filter indent(width=4) %}
    {{- SECRET_VARS }}
    {%- endfilter %}
immutable: true
