{%- macro test_when(WHEN_STMT) %}
const { gatherEnvData } = await import(`${process.env.GIGRUN_DEFAULT_SCRIPTS_HOME}/whenStmtGatherEnvData.js`);
const [env, gigEnv, stageEnv, stepEnv] = await gatherEnvData()

console.log({{ WHEN_STMT }})
{%- endmacro %}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ gigmod.namespace }}.{{ gigmod.name }}
  namespace: {{ gigmod.namespace }}
  labels:
    ahplos.batch.gigs/name: {{ gigmod.name }}
    ahplos.batch.gigs/source-namespace: {{ gigmod.namespace }}
type: batch.ahplos.org/gigmodule
stringData:
{%- if gigmod.spec.stages %}
  package.json: |-
    { "type": "module" }
{%- endif %}

{%- for runtime_def in gigmod.spec.runtimeDefs %}
  {%- for runtime in runtime_def.runtimes %}
  runtime__{{ runtime_def.type }}_{{ runtime.name }}: |-
    {{ runtime.script | indent(width=4) }}
  {%- endfor %}
{%- endfor %}

{%- if gigmod.spec.mode != 'Library' %}
  {%- if gigmod.spec.secretVars %}
  {%- endif %}
  gigrunner.sh: |-
    {% filter indent(width=4) %}
      {%- include 'gigrunner.j2' %}
    {%- endfilter %}
    {# blank line #}
{%- endif %}

{%- for stage in gigmod.spec.stages %}
  {%- if stage.steps %}
    {%- set IS_STAGE_EXECUTABLE = (stage.mode != 'Library' or gigmod.spec.mode != 'Library') %}
    {%- if IS_STAGE_EXECUTABLE %}
  stagerunner__{{ stage.name }}: |-
    {% filter indent(width=4)%}
      {%- include 'stagerunner.j2' %}
    {%- endfilter %}
    {%- endif %}

    {%- for step in stage.steps %}
      {%- if not step.stepRef %}
        {%- set STAGE_STEP_NAME = '{}_{}'.format(stage.name, step.name) %}

  step__{{ STAGE_STEP_NAME }}: |-
        {%- if not step.runtime or step.runtime.name == 'Shell' %}
    #!/usr/bin/bash
    trap '[[ -z $(gigEnvGet __ERR_LINENO) ]] && gigEnvSet __ERR_LINENO ${LINENO} && gigEnvSet __ERR_FILE_NAME $(basename ${BASH_SOURCE})' ERR
          {%- if (IS_STAGE_EXECUTABLE or not step.private) %}
    set -x
          {%- endif %}
    {# blank line #}
        {%- elif step.runtime.name == 'Python' %}
    from gigdb_helper import *
    {# blank line #}
        {%- endif %}
    {{ step.script | indent(width=4) }}
        {%- if step.runtime == 'Shell' %}
    { set +x; } 2>/dev/null
        {%- elif step.runtime == 'JavaScript' %}

    await gigdb.quit();
    console.log('gigdb disconnected');
        {%- endif %}

        {%- if ((IS_STAGE_EXECUTABLE or not step.private) and (step.script or step.scriptPath)) %}
  steprunner__{{ STAGE_STEP_NAME }}.sh: |-
    {% filter indent(width=4)%}
      {%- include 'steprunner.j2' %}
    {%- endfilter %}
        {%- endif %}
      {%- endif %}
    {%- endfor %}
  {%- endif %}

  {%- if stage.when %}
  stage__{{ stage.name }}_when.js: |-
    {{ test_when(stage.when) | indent(width=4) }}
    {# blank line #}
  {%- endif %}
  {%- if stage.iterate and stage.iterate.when %}
  stage__{{ stage.name }}_iterate_when.js: |-
    {{ test_when(stage.iterate.when) | indent(width=4) }}
    {# blank line #}
  {%- endif %}
  {%- if stage.steps %}
    {%- for step in stage.steps %}
      {%- set STAGE_STEP_NAME = '{}_{}'.format(stage.name, step.name) %}
      {%- if step.when %}
  step__{{ STAGE_STEP_NAME }}_when.js: |-
    {{ test_when(step.when) | indent(width=4) }}
    {# blank line #}
      {%- endif %}
      {%- if step.iterate and step.iterate.when %}
  step__{{ STAGE_STEP_NAME }}_iterate_when.js: |-
    {{- test_when(step.iterate.when) | indent(width=4) }}
    {# blank line #}
      {%- endif %}
    {%- endfor %}
  {%- endif %}
{%- endfor %}

{%- for support_file in gigmod.spec.supportFiles %}
  {{ support_file.name }}: |-
    {{ support_file.content  | indent(width=4) }}
{%- endfor %}