{%- set GIG_MOD_DIR_NAME = '{}_{}'.format(gig_mod.namespace, gig_mod.name) %}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ gig_mod.namespace }}.{{ gig_mod.name }}
  namespace: {{ gig_mod.namespace }}
  labels:
    ahplos.batch.gigs/name: {{ gig_mod.name }}
    ahplos.batch.gigs/source-namespace: {{ gig_mod.namespace }}
type: gigmodule
stringData:
{%- if gig_mod.spec.mode != 'Library' %}

  __testWhen.js : |-
    var args = process.argv.slice(2);
    const env = {...process.env}
    result = (Boolean(args[0]))
    console.log(result)

  {%- if gig_mod.spec.secretVars %}

  .secrets: |-
    {%- for secretVar in gig_mod.spec.secretVars %}
    {{ secretVar }}
    {%- endfor %}
  {%- endif %}

  gigrunner.sh: |-
    {% filter indent(width=4) %}
      {%- include 'gigrunner.j2' %}
    {%- endfilter %}

{%- endif %}
{% for stage in gig_mod.spec.stages %}
  {%- if stage.steps %}
    {%- if stage.mode != 'Library' %}

  {{ stage.name }}: |-
    {% filter indent(width=4) %}
      {%- include 'stagerunner.j2' %}
    {%- endfilter %}
    {%- endif %}

    {%- for step in stage.steps %}
      {%- if not step.stepRef %}
        {%- set STEP_NAME = '{}_{}'.format(stage.name, step.name) %}

  {{ STEP_NAME }}: |-
        {%- if step.interpreter == 'Shell' %}
    #/usr/bin/bash -ex
    set -eEx
    {# blank line #}
        {%- endif %}
    {% filter indent(width=4) %}
      {{- step.sourceCode }}
    {%- endfilter %}
        {%- if step.interpreter == 'Shell' %}
    { set +x; } 2>/dev/null
    {# blank line #}
        {%- endif %}

  {{ STEP_NAME }}_interpreter.sh: |-
    {% filter indent(width=4) %}
      {%- include 'steprunner.j2' %}
    {%- endfilter %}

      {%- endif %}
    {%- endfor %}
  {%- endif %}
{%- endfor %}
