{%- macro test_when(WHEN_STMT) %}
import { gatherEnvData } from './whenStmtGatherEnvData.js'
const [env, gigEnv, stageEnv, stepEnv] = await gatherEnvData()

console.log({{ WHEN_STMT }})
{%- endmacro %}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ gig_mod.namespace }}.{{ gig_mod.name }}
  namespace: {{ gig_mod.namespace }}
  labels:
    ahplos.batch.gigs/name: {{ gig_mod.name }}
    ahplos.batch.gigs/source-namespace: {{ gig_mod.namespace }}
type: gigmodule
stringData:
{%- if gig_mod.spec.mode != 'Library' %}
  {%- if gig_mod.spec.secretVars %}
  {%- endif %}
  gigrunner.sh: |-
    {% filter indent(width=4) %}
      {%- include 'gigrunner.j2' %}
    {%- endfilter %}
    {# blank line #}
{%- endif %}
{%- for stage in gig_mod.spec.stages %}
  {%- if stage.steps %}
    {%- if (stage.mode != 'Library' or gig_mod.spec.mode != 'Library' ) %}
  stage__{{ stage.name }}: |-
    {% filter indent(width=4) %}
      {%- include 'stagerunner.j2' %}
    {%- endfilter %}
    {%- endif %}

    {%- for step in stage.steps %}
      {%- if not step.stepRef %}
        {%- set STEP_NAME = '{}_{}'.format(stage.name, step.name) %}

  step__{{ STEP_NAME }}: |-
        {%- if step.runtime == 'Shell' %}
    #!/usr/bin/bash
    trap '[[ -z $(gigEnvGet __ERR_LINENO) ]] && gigEnvSet __ERR_LINENO ${LINENO} && gigEnvSet __ERR_FILE_NAME $(basename ${BASH_SOURCE})' ERR
    set -x
    {# blank line #}
        {%- elif step.runtime == 'Python' %}
    from gigdb_helper import *
    {# blank line #}
        {%- endif %}
    {% filter indent(width=4) %}
      {{- step.script }}
    {%- endfilter %}
        {%- if step.runtime == 'Shell' %}
    { set +x; } 2>/dev/null
        {%- elif step.runtime == 'JavaScript' %}

    await gigdb.quit();
    console.log('gigdb disconnected');
        {%- endif %}

  steprunner__{{ STEP_NAME }}.sh: |-
    {% filter indent(width=4) %}
      {%- include 'steprunner.j2' %}
    {%- endfilter %}

      {%- endif %}
    {%- endfor %}
  {%- endif %}

  {%- if stage.when %}
  stage__{{ stage.name }}_when.js: |-
    {%- filter indent(width=4) %}
      {{- test_when(stage.when) }}
    {%- endfilter %}
    {# blank line #}
  {%- endif %}
  {%- if stage.iterate and stage.iterate.when %}
  stage__{{ stage.name }}_iterate_when.js: |-
    {%- filter indent(width=4) %}
      {{- test_when(stage.iterate.when) }}
    {%- endfilter %}
    {# blank line #}
  {%- endif %}
  {%- if stage.steps %}
    {%- for step in stage.steps %}
      {%- set STEP_NAME = '{}_{}'.format(stage.name, step.name) %}
      {%- if step.when %}
  step__{{ STEP_NAME }}_when.js: |-
    {%- filter indent(width=4) %}
      {{- test_when(step.when) }}
    {%- endfilter %}
    {# blank line #}
      {%- endif %}
      {%- if step.iterate and step.iterate.when %}
  step__{{ STEP_NAME }}_iterate_when.js: |-
    {%- filter indent(width=4) %}
      {{- test_when(step.iterate.when) }}
    {%- endfilter %}
    {# blank line #}
      {%- endif %}
    {%- endfor %}
  {%- endif %}
{%- endfor %}

  package.json: |-
    { "type": "module" }

  whenStmtGatherEnvData.js: |-
    import { createClient } from 'redis';
    export async function gatherEnvData() {
        const env = {...process.env}

        const gigdb = createClient();
        await gigdb.connect();
        const gigEnv = await gigdb.hGetAll('GIG_ENV');
        const stageEnv = env.STAGE_ID ? await gigdb.hGetAll(env.STAGE_ID) : {}
        const stepEnv = env.STAGE_ID ? await gigdb.hGetAll(env.STEP_ID) : {}
        await gigdb.quit();

        return [env, gigEnv, stageEnv, stepEnv]
    }