apiVersion: v1
kind: Secret
metadata:
  name: gigrunner
  namespace: {{ namespace }}
type: gigrunner
stringData:
{%- for secret_file in SECRET_FILES %}
  {{ secret_file }}: |-
    {% filter indent(width=4) %}
    {%- include secret_file %}
    {%- endfilter %}
{%- endfor %}
