#!/usr/bin/bash -e
# gigrunner
set -o pipefail
{%- from 'iterator-macro.j2' import realize_iterators %}

{%- macro run_stage(stage, STAGE_GIG_MOD_NAMESPACE, STAGE_GIG_MOD_NAME, STAGE_NAME) %}
    __stageHeader ${__STAGE_COUNTER} '{{ stage.name }}'
    ${GIG_RUN_HOME}/{{ STAGE_GIG_MOD_NAMESPACE }}_{{ STAGE_GIG_MOD_NAME }}/{{ STAGE_NAME }} ${__STAGE_COUNTER}
    echo
    echo "==> STAGE ${__STAGE_COUNTER} COMPLETE: {{ stage.name }} <=="
{%- endmacro %}

function __gigrunner() {
    local _STAGE_COUNTER=0

    echo "$(__gigRunHeader)" | __filterStageLogOutput '--'

    {%- for stage in gig_mod.spec.stages %}
      {%- set STAGE_NAME = stage.name if not (stage.stageRef and stage.stageRef.name) else stage.stageRef.name %}
      {%- set STAGE_GIG_MOD_NAMESPACE = gig_mod.namespace
        if not (stage.stageRef and stage.stageRef.gigModuleRef.namespace) else stage.stageRef.gigModuleRef.namespace %}
      {%- set STAGE_GIG_MOD_NAME = gig_mod.name if not stage.stageRef else stage.stageRef.gigModuleRef.name %}

      {%- set STAGE_FUNCTION_NAME = '{}_{}'.format(GIG_MOD_DIR_NAME, stage.name) %}
      {%- set RUN_PARALLEL = '&' if stage.parallel else '' %}

    function __{{ STAGE_FUNCTION_NAME }}() {
        local __STAGE_COUNTER=${1}
        {%- if stage.iterate and stage.iterate.when %}
        if [[ $(__testWhen '{{ stage.iterate.when }}') != 'false' ]]
        then
            {%- filter indent(width=8) %}
            {{- run_stage(stage, STAGE_GIG_MOD_NAMESPACE, STAGE_GIG_MOD_NAME, STAGE_NAME) }}
            {%- endfilter %}
        else
            echo "==> STAGE ${__STAGE_COUNTER} ITERATION SKIPPED: {{ stage.name }} <=="
        fi
        {%- else %}
        {%- filter indent(width=4) %}
        {{- run_stage(stage, STAGE_GIG_MOD_NAMESPACE, STAGE_GIG_MOD_NAME, STAGE_NAME) }}
        {%- endfilter %}
        {%- endif %}
    }

    let _STAGE_COUNTER+=1
    __loadEnv
    {%- if stage.when %}
    if [[ $(__testWhen '{{ stage.when if stage.when else '' }}') != 'false' ]]
    then
      {%- if stage.iterate %}
        {{- realize_iterators(stage, STAGE_FUNCTION_NAME) }}
      {%- else %}
        __{{ STAGE_FUNCTION_NAME }} ${_STAGE_COUNTER} 2>&1 | __filterStageLogOutput ${_STAGE_COUNTER} {{ RUN_PARALLEL }}
      {%- endif %}
    else
        __stageHeader ${__STAGE_COUNTER} '{{ stage.name }}' 'SKIPPED'
    fi
    {%- else %}
      {%- if stage.iterate %}
        {{- realize_iterators(stage, STAGE_FUNCTION_NAME) }}
      {%- else %}
        __{{ STAGE_FUNCTION_NAME }} ${_STAGE_COUNTER} 2>&1 | __filterStageLogOutput ${_STAGE_COUNTER} {{ RUN_PARALLEL }}
      {%- endif %}
    {%- endif %}

    {%- if stage.wait %}

    wait
    {%- endif %}
    {%- endfor %}
}

__gigrunner
echo $? > .stagerunner_exit_status


