#!/usr/bin/bash -e
# gigrunner
{%- import 'iterator-macro.j2' as iter_macros %}

set -e -E -o pipefail

trap '[[ -z $(gigEnvGet __ERR_LINENO) ]] && gigEnvSet __ERR_LINENO ${LINENO} && gigEnvSet __ERR_FILE_NAME $(basename ${BASH_SOURCE})' ERR

gigEnvSet GIG_PID "${BASHPID}"
{%- for stage in gigmod.spec.stages %}
  {%- if stage.gigRef and stage.gigRef.inputValues %}
__INPUT_VALUES=$(cat <<'EOF'
{{ stage.gigRef.inputValues | tojson }}
EOF
)
gigdb-cli SET {{ stage.name }}_GIGRUN_INPUTVALUES "${__INPUT_VALUES}" >/dev/null

  {%- endif %}
{%- endfor %}
unset __INPUT_VALUES

function __gigrunner() {
    local __STAGE_COUNTER=0
    __initSemaphore GIGRUN_SEMAPHORE {{ gigmod.spec.maxParallel }}
    export GIGRUN_SEMAPHORE

    __GIG_MOD_SECRETS='{{ gigmod.spec.inputParams | selectattr('secret', 'equalto', True) | map(attribute='name') | join(' ') }}'
    [[ -n ${__GIG_MOD_SECRETS} ]] && gigSecretsAdd ${__GIG_MOD_SECRETS}

    __gigRunHeader {{ gigmod.name }} {{ (gigmod.spec.description | tojson) if gigmod.spec.description else '' }}

    echo "$(__saveInputParamsToEnv)"  |& __logOutput

    __verifyInputParams

    {%- for stage in gigmod.spec.stages %}
      {%- set STAGE_NAME = stage.name if not (stage.stageRef and stage.stageRef.name) else stage.stageRef.name %}
      {%- set STAGE_GIG_MOD_NAMESPACE = stage.stageRef.gigModuleRef.namespace
        if (stage.stageRef and stage.stageRef.gigModuleRef.namespace) else gigmod.namespace %}
      {%- set STAGE_GIG_MOD_NAME = stage.stageRef.gigModuleRef.name if stage.stageRef else gigmod.name %}

      {%- set STAGE_FUNCTION_NAME = '__{}_{}'.format(GIGMOD_DIR_NAME, stage.name) %}

      {%- set RUN_PARALLEL = '&' if (stage.maxParallel and stage.maxParallel > 0) else '' %}

    function {{ STAGE_FUNCTION_NAME }}() {
        local STAGE_CURRENT_PID=${BASHPID}
        (
      {%- if stage.workDir %}
            cd {{ stage.workDir }}
      {%- endif %}
      {%- if stage.maxParallel %}
            export STAGE_SEMAPHORE=${2}
            __acquireSemaphores ${STAGE_SEMAPHORE}
      {%- endif %}
            export STAGE_COUNTER="${1}"
            __stageHeader ${STAGE_COUNTER} '{{ stage.name }}' ${STAGE_CURRENT_PID} {{ stage.gigRef.name if stage.gigRef else '' }}
      {%- if stage.gigRef %}
        {%- if stage.gigRef.inputValues %}
            INPUT_VALUES=$(gigdb-cli --raw GET {{ stage.name }}_GIGRUN_INPUTVALUES)
        {%- endif %}
            ${GIGRUN_DEFAULT_SCRIPTS_HOME}/launch-gigrun.sh {{ stage.gigRef.name }} \
              '{{ stage.gigRef.namespace if stage.gigRef.namespace else '' }}' "${INPUT_VALUES}" \
              |& __logOutput
      {%- else %}
            export STAGE_ID=$(uuidgen)
            {%- set STAGE_SCRIPT_PREFIX = 'stagerunner' if (stage.stageRef or stage.mode != 'Library') else '__stagerunner' %}
            ${GIGRUN_HOME}/{{ STAGE_GIG_MOD_NAMESPACE }}_{{ STAGE_GIG_MOD_NAME }}/{{ STAGE_SCRIPT_PREFIX }}__{{ STAGE_NAME }} ${STAGE_CURRENT_PID}
      {%- endif %}
            (echo && echo "==> STAGE ${STAGE_COUNTER} COMPLETE: {{ stage.name }} <==") |& __logOutput
      {%- if stage.maxParallel %}
            __releaseSemaphores ${STAGE_SEMAPHORE}
      {%- endif %}
        )
    }

      {%- if stage.secretVars %}
    local NEW_SECRET_VARS={{ stage.secretVars|join(' ') }}
    gigSecretsAdd ${NEW_SECRET_VARS}
      {%- endif %}

    let __STAGE_COUNTER+=1
    unset __SHOULD_RUN
    {%- if stage.when %}
    local __WHEN_FILE_NAME=${GIGRUN_HOME}/{{ GIGMOD_DIR_NAME }}/stage__{{ stage.name }}_when.js
    __SHOULD_RUN=$(node ${__WHEN_FILE_NAME}) || exit $?
    {%- endif %}
    if [[ "${__SHOULD_RUN:-true}" == 'true' ]]
    then
      {%- if stage.maxParallel %}
      __initSemaphore STAGE_SEMAPHORE {{ stage.maxParallel }}
      {%- endif %}
      {%- if stage.iterate %}
        {{- iter_macros.realize_iterators(stage, STAGE_FUNCTION_NAME, GIGMOD_DIR_NAME, RUN_PARALLEL) }}
      {%- else %}
        {{ STAGE_FUNCTION_NAME }} ${__STAGE_COUNTER} ${STAGE_SEMAPHORE} 2>&1 {{ RUN_PARALLEL }}
      {%- endif %}
      {%- if stage.maxParallel %}
      unset STAGE_SEMAPHORE
      {%- endif %}
    else
        __stageHeader ${__STAGE_COUNTER} '{{ stage.name }}' ${BASHPID} 'SKIPPED'
    fi
    {%- if stage.wait or loop.index == gigmod.spec.stages|length %}

    wait
    {%- endif %}
    {%- endfor %}
}

__gigrunner
gigEnvSet EXIT_STATUS $?
