#!/usr/bin/bash -e
# gigrunner
set -o pipefail

function __gigrunner() {
    local _STAGE_COUNTER=0

    echo "$(__gigRunHeader)" | __filterStageLogOutput '--'

    {%- for stage in gig_mod.spec.stages %}
      {%- set STAGE_NAME = stage.name if not (stage.stageRef and stage.stageRef.name) else stage.stageRef.name %}
      {%- set STAGE_GIG_MOD_NAMESPACE = gig_mod.namespace
        if not (stage.stageRef and stage.stageRef.gigModuleRef.namespace) else stage.stageRef.gigModuleRef.namespace %}
      {%- set STAGE_GIG_MOD_NAME = gig_mod.name if not stage.stageRef else stage.stageRef.gigModuleRef.name %}

      {%- set STAGE_FUNCTION_NAME = '{}_{}'.format(GIG_MOD_DIR_NAME, stage.name) %}
      {%- set RUN_PARALLEL = '&' if stage.parallel else '' %}

    function __{{ STAGE_FUNCTION_NAME }}() {
        local __STAGE_COUNTER=${1}

        __loadStageEnv
        if [[ "$(__testWhen '{{ GIG_MOD_DIR_NAME }}' '{{ stage.name }}')" != 'false' ]]
        then
            __stageHeader ${__STAGE_COUNTER} '{{ stage.name }}'
            set -o allexport
            source ${GIG_RUN_HOME}/{{ STAGE_GIG_MOD_NAMESPACE }}_{{ STAGE_GIG_MOD_NAME }}/{{ STAGE_NAME }} ${__STAGE_COUNTER}
            set +o allexport
            echo
            echo "==> STAGE ${__STAGE_COUNTER} COMPLETE: {{ stage.name }} <=="
        else
            __stageHeader ${__STAGE_COUNTER} '{{ stage.name }}' 'SKIPPED'
        fi
    }
    let _STAGE_COUNTER+=1
    {%- if stage.iterations %}
      {%- set ITERATIONS = stage.iterations %}
      {%- set ITER_FUNCTION_NAME = STAGE_FUNCTION_NAME %}
      {%- set ITER_FUNCTION_ARGS = '${_STAGE_COUNTER} 2>&1 | __filterStageLogOutput ${_STAGE_COUNTER}' %}
      {%- include 'iterator.j2' %}
    {%- else %}
    __{{ STAGE_FUNCTION_NAME }} ${_STAGE_COUNTER} 2>&1 | __filterStageLogOutput ${_STAGE_COUNTER} {{ RUN_PARALLEL }}
    {%- endif %}

    {%- if stage.wait %}

    wait
    {%- endif %}
    {%- endfor %}
}

__gigrunner
echo $? > .stagerunner_exit_status
