{%- macro check_max_threads(MAX_THREADS) %}
  {%- if MAX_THREADS and (MAX_THREADS > 0) %}
__checkMaxThreads {{ MAX_THREADS }}
  {%- endif %}
{%- endmacro %}

{%- macro step_or_stage_exec(stage_or_step, FUNCTION_NAME, ITER_ID, STAGE_NAME=None) %}
{{- check_max_threads(stage_or_step.maxParallel) }}
  {%- if not STAGE_NAME %}
export __EXP_STAGE_OR_STEP_ID="${_STAGE_COUNTER}({{ ITER_ID }})"
  {%- else %}
export __EXP_STAGE_OR_STEP_ID="${_STEP_ID}({{ ITER_ID }})"
  {%- endif %}
  {%- set RUN_PARALLEL = '&' if (stage_or_step.maxParallel and stage_or_step.maxParallel > 0) else '' %}
{{ FUNCTION_NAME }} "${__EXP_STAGE_OR_STEP_ID}" 2>&1 {{ RUN_PARALLEL }}
{%- endmacro %}

{%- macro realize_iterators(stage_or_step, FUNCTION_NAME, STAGE_NAME=None) %}
{%- set INDENT = 4 %}
{%- set INDENT_MOD = 0 if stage_or_step.when else 1 %}
{%- set ITERATOR_ID = namespace(ID=[]) %}
{%- for iter in stage_or_step.iterate.loops %}
    {%- set ITERATOR_ID.ID = ITERATOR_ID.ID + ['${{{}_COUNTER}}'.format(iter.name)] %}
{%- endfor %}
{%- set ITERATOR_ID = namespace(ID=ITERATOR_ID.ID|join('-')) %}
{%- for iter in stage_or_step.iterate.loops %}
    {%- filter indent(width=(loop.index - INDENT_MOD)* INDENT ) %}
    {%- if iter.envVar %}
    OLD_IFS=${IFS}
    IFS='{{ iter.envVar.delim }}' read -ra {{ iter.name }}_ARRAY <<< "${{ iter.envVar.name}}"
    {%- set VALUES = '${{{}_ARRAY[@]}}'.format(iter.name) %}
    {%- elif iter.range %}
      {%- set VALUES = '{{{}..{}..{}}}'.format(iter.range.first , iter.range.last , iter.range.incr) %}
    {%- else %}
    {{ iter.name }}_ARRAY=(
      {%- for val in iter.vector %}
        {{ val }}
      {%- endfor %}
    )
      {%- set VALUES = '${{{}_ARRAY[@]}}'.format(iter.name) %}
    {%- endif %}
    export {{ '{}_COUNTER'.format(iter.name) }}=0
    for {{ iter.name }} in {{ VALUES }}
    do
    {%- endfilter %}
{%- endfor %}

{%- set FUNCTION_INDENT = (stage_or_step.iterate|length - INDENT_MOD) * INDENT %}
{%- if stage_or_step.iterate.when %}
  {%- filter indent(width=FUNCTION_INDENT) %}
        if [[ $(__testWhen '{{ stage_or_step.iterate.when }}') != 'false' ]]
        then
            {%- filter indent(width=FUNCTION_INDENT + (INDENT * (INDENT_MOD + 1))) %}
            {{- step_or_stage_exec(stage_or_step, FUNCTION_NAME, ITERATOR_ID.ID, STAGE_NAME) }}
            {%- endfilter %}
        else
            {%- if not STAGE_NAME %}
            __stageHeader "${__STAGE_COUNTER}({{ ITERATOR_ID.ID }})" '{{ stage_or_step.name }}' 'SKIPPED' 2>&1 | \
            __filterStageLogOutput "${_STAGE_COUNTER}({{ ITERATOR_ID.ID }})"
            {%- else %}
            __stepHeader "${__STEP_ID}({{ ITERATOR_ID.ID }})" '{{ STAGE_NAME }}' '{{ stage_or_step.name }}' '{{ stage_or_step.interpreter }}' 'SKIPPED' | \
            __filterStepLogOutput "${_STEP_ID}({{ ITERATOR_ID.ID }})"
            {%- endif %}
        fi
  {%- endfilter %}
{%- else %}
  {%- filter indent(width=FUNCTION_INDENT + INDENT) %}
    {{- step_or_stage_exec(stage_or_step, FUNCTION_NAME, ITERATOR_ID.ID, STAGE_NAME) }}
  {%- endfilter %}
{%- endif %}

{%- set INDENT_MOD = 1 if stage_or_step.when else 0 %}
{%- for iter in (stage_or_step.iterate.loops|reverse) %}
    {%- filter indent(width=(((loop.length + INDENT_MOD) - loop.index) * INDENT)) %}
        let {{ '{}_COUNTER'.format(iter.name) }}+=1
    done
    unset {{ '{}_COUNTER'.format(iter.name) }}
    {%- endfilter %}
{%- endfor %}
{%- endmacro %}