{%- macro when_check(stage_or_step, GIGMOD_DIR_NAME, ITERATOR_ID, STAGE_NAME, RUNTIME_TYPE, RUNTIME) %}
    unset __SHOULD_RUN
      {%- if not STAGE_NAME %}
    local __WHEN_FILE_NAME=${GIGRUN_HOME}/{{ GIGMOD_DIR_NAME }}/stage__{{ stage_or_step.name }}_iterate_when.js
      {%- else %}
    local __WHEN_FILE_NAME=${GIGRUN_HOME}/{{ GIGMOD_DIR_NAME }}/step__{{ STAGE_NAME }}_{{ stage_or_step.name }}_iterate_when.js
      {%- endif %}
    __SHOULD_RUN=$(node ${__WHEN_FILE_NAME}) || exit $?
    if [[ "${__SHOULD_RUN}" != 'true' ]]
    then
      {%- if not STAGE_NAME %}
        __stageHeader "${__STAGE_OR_STEP_COUNTER}" '{{ stage_or_step.name }}' ${BASHPID} 'SKIPPED' 2>&1
      {%- else %}
        __stepHeader "${__STAGE_OR_STEP_COUNTER}" '{{ STAGE_NAME }}' '{{ stage_or_step.name }}' '{{ RUNTIME }} [{{ RUNTIME_TYPE }}]' ${STAGE_CURRENT_PID} 'SKIPPED'
      {%- endif %}
        continue
    fi
{%- endmacro %}

{%- macro realize_iterators(stage_or_step, FUNCTION_NAME, GIGMOD_DIR_NAME, RUN_PARALLEL, STAGE_NAME, RUNTIME_TYPE, RUNTIME) %}
  {%- set ITERATOR_ID = namespace(ID=[]) %}
  {%- for iter in stage_or_step.iterate.loops %}
      {%- set ITERATOR_ID.ID = ITERATOR_ID.ID + ['${{{}_COUNTER}}'.format(iter.name)] %}
  {%- endfor %}
  {%- set ITERATOR_ID = namespace(ID=ITERATOR_ID.ID|join('-')) %}

  {%- for iter in stage_or_step.iterate.loops %}
      {%- set ARRAY_VAR = iter.name ~ '_ARRAY' %}
    {%- if iter.envVar %}
    {{ ARRAY_VAR }}=$(stageEnvGet {{ iter.envVar.name }})
    {{ ARRAY_VAR }}={{ '${' ~ ARRAY_VAR ~ ':-$(gigEnvGet ' ~ iter.envVar.name ~ ')}' }}
    {{ "IFS='%s' ".format(iter.envVar.delim) if iter.envVar.delim else '' }}read -ra {{ ARRAY_VAR }} <<< "{{ '${' ~ ARRAY_VAR ~ '}' }}"
      {%- set VALUES = '${' ~ ARRAY_VAR ~ '[@]}' %}
    {%- elif iter.range %}
      {%- set VALUES = '{{{}..{}..{}}}'.format(iter.range.start , iter.range.end , iter.range.incr) %}
    {%- else %}
    {{ ARRAY_VAR }}=(
      {%- for val in iter.vector %}
        "{{ val }}"
      {%- endfor %}
    )
      {%- set VALUES = '${' ~ ARRAY_VAR ~ '[@]}' %}
    {%- endif %}
    export {{ '{}_COUNTER'.format(iter.name) }}=0
    for {{ iter.name }} in {{ VALUES }}
    do
        export {{ iter.name }}
  {%- endfor %}

    local __STAGE_OR_STEP_COUNTER="{{ '${__STAGE_COUNTER}(' if not STAGE_NAME else '${STAGE_COUNTER}-${__STEP_COUNTER}(' }}{{ ITERATOR_ID.ID }})"
    {{-
        when_check(stage_or_step, GIGMOD_DIR_NAME, ITERATOR_ID.ID, STAGE_NAME, RUNTIME_TYPE, RUNTIME)
          if stage_or_step.iterate.when else ''
    }}
    {%- set STAGE_OR_STEP_SEMAPHORE = '${STAGE_SEMAPHORE}' if not STAGE_NAME else '${STEP_SEMAPHORE}' %}
    {{ FUNCTION_NAME }} "${__STAGE_OR_STEP_COUNTER}" ${STAGE_CURRENT_PID} {{ STAGE_OR_STEP_SEMAPHORE }} 2>&1 {{ RUN_PARALLEL }}

  {%- for iter in (stage_or_step.iterate.loops|reverse) %}
        let {{ '{}_COUNTER'.format(iter.name) }}+=1
    done
    unset {{ '{}_COUNTER'.format(iter.name) }}
  {%- endfor %}
{%- endmacro %}