#!/usr/bin/bash -e
# stagerunner

set -e -E -o pipefail

trap '[[ -z $(gigEnvGet __ERR_LINENO) ]] && gigEnvSet __ERR_LINENO ${LINENO} && gigEnvSet __ERR_FILE_NAME $(basename ${BASH_SOURCE})' ERR

{%- from 'iterator-macro.j2' import realize_iterators %}
{%- set STAGE_FUNCTION_NAME = '__{}_{}'.format(GIGMOD_DIR_NAME, stage.name) %}

{%- for step in stage.steps %}
  {%- if step.args %}
__ARGS=$(cat <<'EOF'
{{ step.args }}
EOF
)
gigdb-cli SET {{ step.name }}_GIGRUN_ARGS "${__ARGS}" >/dev/null
  {%- endif %}
{%- endfor %}
unset __ARGS

function {{ STAGE_FUNCTION_NAME }}() {
    local STAGE_CURRENT_PID=${1}
    local __STEP_COUNTER=0
    {%- for step in stage.steps %}
      {%- set GIG_MODULE_NAME = gigmod.name %}
      {%- set NAMESPACE = gigmod.namespace %}

      {%- set STEP_GIG_MOD_NAMESPACE = gigmod.namespace
        if not (step.stageRef and step.stepRef.gigModuleRef.namespace)
        else step.stepRef.gigModuleRef.namespace
      %}
      {%- set STEP_GIG_MOD_NAME = gigmod.name if not step.stepRef else step.stepRef.gigModuleRef.name %}
      {%- set STEP_RUN_DIR = '{}_{}'.format(STEP_GIG_MOD_NAMESPACE, STEP_GIG_MOD_NAME) %}

      {%- set STEP_SUFFIX = step.name if not (step.stepRef and step.stepRef.name) else step.stepRef.name %}
      {%- set STAGE_PREFIX = stage.name if not (step.stepRef and step.stepRef.stage) else step.stepRef.stage %}
      {%- set STEP_RUN_FILE = '{}_{}'.format(STAGE_PREFIX, STEP_SUFFIX) %}

      {%- set RUN_PARALLEL = '&' if step.maxParallel else '' %}

      {%- set STEP_FUNCTION_NAME = '{}_{}'.format(STAGE_FUNCTION_NAME, step.name) %}

      {%- set RUNTIME_TYPE = 'Script' if not (step.runtime and step.runtime.type) else step.runtime.type %}
      {%- set RUNTIME = 'Shell' if not step.runtime else step.runtime.name %}

    function {{ STEP_FUNCTION_NAME }}() {
        local STAGE_CURRENT_PID=${2}
        local STEP_PID=${BASHPID}
        local STEP_CURRENT_PID=$([[ -n '{{ RUN_PARALLEL }}' ]] && echo ${STEP_PID} || echo ${STAGE_CURRENT_PID})
        (
      {%- if step.workDir %}
            cd {{ step.workDir }}
      {%- endif %}
      {%- if step.maxParallel %}
            local STEP_SEMAPHORE=${3}
            __acquireSemaphores "${STAGE_SEMAPHORE}" "${STEP_SEMAPHORE}"
      {%- endif %}
            export STEP_ID=$(uuidgen)
            export STEP_COUNTER=${1}
            SECONDS=0

            __stepHeader ${STEP_COUNTER} '{{ stage.name }}' '{{ step.name }}' '{{ RUNTIME }} [{{ RUNTIME_TYPE }}]' ${STEP_CURRENT_PID}
            {%- if step.args %}
            stepEnvSet RUNTIME_OPTIONS "$(gigdb-cli GET {{ step.name }}_GIGRUN_ARGS)"
            {%- endif %}
            local __STEP_OUTPUT=$(
                {{ '${{GIGRUN_HOME}}/{}/steprunner__{}.sh'.format(STEP_RUN_DIR, STEP_RUN_FILE)  }}  |& __logOutput "${STEP_COUNTER}"
            )
            echo "${__STEP_OUTPUT}"
            __stepFooter ${STEP_COUNTER} '{{ stage.name }}' '{{ step.name }}' ${SECONDS} {{ 'failSafe' if step.failSafe else '' }}
      {%- if step.maxParallel %}
            __releaseSemaphores "${STAGE_SEMAPHORE}" "${STEP_SEMAPHORE}"
      {%- endif %}
        )
    }

    let __STEP_COUNTER+=1
    unset __SHOULD_RUN
    {%- if step.when %}
    local __WHEN_FILE_NAME=${GIGRUN_HOME}/{{ GIGMOD_DIR_NAME }}/step__{{ STAGE_NAME }}_{{ stage_or_step.name }}_{{ iter.name }}_when.js
    {%- endif %}
    if [[ "${__SHOULD_RUN:-true}" == 'true' ]]
    then
      {%- if step.maxParallel %}
      __initSemaphore STEP_SEMAPHORE {{ step.maxParallel }}
      {%- endif %}
      {%- if step.iterate %}
        {{- realize_iterators(step, STEP_FUNCTION_NAME, GIGMOD_DIR_NAME, RUN_PARALLEL, stage.name, RUNTIME_TYPE, RUNTIME) }}
      {%- else %}
        {{ STEP_FUNCTION_NAME }} "${STAGE_COUNTER}-${__STEP_COUNTER}" ${STAGE_CURRENT_PID} ${STEP_SEMAPHORE} {{ RUN_PARALLEL }}
      {%- endif %}
      {%- if step.maxParallel %}
      unset STEP_SEMAPHORE
      {%- endif %}
    else
        __stepHeader "${STEP_COUNTER}-${__STEP_COUNTER}" '{{ stage.name }}' '{{ step.name }}' '{{ RUNTIME }} [{{ RUNTIME_TYPE }}]' ${STAGE_CURRENT_PID} 'SKIPPED'
    fi
    {%- if step.wait %}

    wait
    {%- endif %}
    {%- endfor %}
}

{{ STAGE_FUNCTION_NAME }} ${1}