apiVersion: v1
kind: Secret
metadata:
  name: {{ gig_mod.name }}
  namespace: {{ gig_mod.namespace }}
type: stagerunner
stringData:
{%- for stage in gig_mod.spec.stages %}
  {%- if stage.when %}
  {{ 'when-{}.js'.format(stage.name) }}: |-
    const env = {...process.env}
    result = (Boolean({{ stage.when }}))
    console.log(result)
  {%- endif %}
  {%- if not stage.stageRef %}
    {%- for step in stage.steps %}
      {%- if step.when %}
  {{ 'when-{}-{}.js'.format(stage.name, step.name) }}: |-
    const env = {...process.env}
    result = (Boolean({{ step.when }}))
    console.log(result)
      {%- endif %}
      {%- if not step.stepRef %}
        {%- set STEP_NAME = '{}_{}'.format(stage.name, step.name) %}
  {{ STEP_NAME }}: |-
    {% filter indent(width=4) %}
      {%- include 'step-file.j2' %}
    {%- endfilter %}
  {{ STEP_NAME }}-run.sh: |-
    {% filter indent(width=4) %}
      {%- include 'command-file.j2' %}
    {%- endfilter %}
      {%- endif %}
    {%- endfor %}
    {%- if stage.mode == 'Executable' %}
  {{ stage.name }}: |-
    {% filter indent(width=4) %}
      {%- include 'step-runner.j2' %}
    {%- endfilter %}
    {% endif %}
  {% endif %}
{%- endfor %}

{# {%- if gig_mod.spec.mode == 'Executable' %}
  stagerunner.sh: |-
    {% filter indent(width=4) %}
    {%- include 'stagerunner.j2' %}
    {%- endfilter %}
{%- endif %} #}

{%- if gig_mod.spec.secretVars %}
  .secrets: |-
  {%- for secretVar in gig_mod.spec.secretVars %}
    {{ secretVar }}
  {%- endfor %}
{%- endif %}
