apiVersion: v1
kind: Secret
metadata:
  name: {{ gig_def.namespace }}-{{ gig_def.name }}
  namespace: {{ gig_def.namespace }}
type: stagerunner
stringData:
  stagerunner.sh: |-
    {% filter indent(width=4) %}
    {%- include 'stagerunner.j2' %}
    {%- endfilter %}

{%- for stage in gig_def.stages %}
  {%- if stage.scriptType != 'Shell' %}
  {{ stage.name }}: |-
    {% filter indent(width=4) %}
    {{- stage.script }}
    {%- endfilter %}
  {% endif %}
  {%- if stage.when %}
  {%- set WHEN_FILE_NAME = 'when-{}'.format(stage.name) %}
  {{ WHEN_FILE_NAME }}: |-
    const env = {...process.env}
    result = (Boolean({{ stage.when }}))
    console.log(result)
  {% endif %}
{%- endfor %}