#!/usr/bin/bash -e
# stagerunner
set -o pipefail
{%- from 'iterator-macro.j2' import realize_iterators %}
{%- set STAGE_FUNCTION_NAME = '{}_{}'.format(GIG_MOD_DIR_NAME, stage.name) %}

{%- macro run_step(stage, step, HAS_SECRETS, STAGE_NAME, STEP_NAME, STEP_RUN_DIR, STEP_RUN_NAME) %}
    __stepHeader ${__STEP_ID} '{{ stage.name }}' '{{ step.name }}' '{{ step.interpreter }}' {{ HAS_SECRETS }}
    {%- set STEP_RUN_NAME = '{}_{}'.format(STAGE_NAME, STEP_NAME) %}
    {{ '${{GIG_RUN_HOME}}/{}/{}_interpreter.sh'.format(STEP_RUN_DIR, STEP_RUN_NAME) }}
    echo
    echo "==> Step ${__STEP_ID} complete: {{ stage.name }}:{{ step.name }} <=="
{%- endmacro %}

_STAGE_COUNTER=${1}
function __{{ STAGE_FUNCTION_NAME }}() {
    local _STEP_COUNTER=0
    {%- for step in stage.steps %}
      {%- set STEP_NAME = step.name if not (step.stepRef and step.stepRef.name) else step.stepRef.name %}
      {%- set STAGE_NAME = stage.name if not (step.stepRef and step.stepRef.stage) else step.stepRef.stage %}

      {%- set GIG_MODULE_NAME = gig_mod.name %}
      {%- set NAMESPACE = gig_mod.namespace %}

      {%- set STEP_GIG_MOD_NAMESPACE = gig_mod.namespace
        if not (step.stageRef and step.stepRef.gigModuleRef.namespace)
        else step.stepRef.gigModuleRef.namespace %}
      {%- set STEP_GIG_MOD_NAME = gig_mod.name if not step.stepRef else step.stepRef.gigModuleRef.name %}
      {%- set STEP_RUN_DIR = '{}_{}'.format(STEP_GIG_MOD_NAMESPACE, STEP_GIG_MOD_NAME) %}

      {%- set RUN_PARALLEL = '&' if step.parallel else '' %}

      {%- set STEP_FUNCTION_NAME = '{}_{}'.format(STAGE_FUNCTION_NAME, step.name) %}
    function __{{ STEP_FUNCTION_NAME }}() {
        local __STEP_ID=${1}

        {%- if step.iterate and step.iterate.when %}
        if [[ $(__testWhen '{{ step.iterate.when }}') != 'false' ]]
        then
            {%- filter indent(width=8) %}
            {{- run_step(stage, step, HAS_SECRETS, STAGE_NAME, STEP_NAME, STEP_RUN_DIR, STEP_RUN_NAME) }}
            {%- endfilter %}
        else
            echo "==> STAGE ${__STAGE_COUNTER} ITERATION SKIPPED: {{ stage.name }} <=="
        fi
        {%- else %}
        {%- filter indent(width=4) %}
        {{- run_step(stage, step, HAS_SECRETS, STAGE_NAME, STEP_NAME, STEP_RUN_DIR, STEP_RUN_NAME) }}
        {%- endfilter %}
        {%- endif %}
    }

    let _STEP_COUNTER+=1
    local _STEP_ID="${_STAGE_COUNTER}-${_STEP_COUNTER}"
    __loadEnv
      {%- if step.when %}
    if [[ $(__testWhen '{{ step.when }}') != 'false' ]]
    then
      {%- if step.iterate %}
        {{- realize_iterators(step, STEP_FUNCTION_NAME, RUN_PARALLEL, STAGE_NAME) }}
      {%- else %}
        __{{ STEP_FUNCTION_NAME }} ${_STEP_ID} 2>&1 | __filterStepLogOutput ${_STEP_COUNTER} {{ RUN_PARALLEL }}
      {%- endif %}
    else
        __stepHeader ${__STEP_ID} '{{ stage.name }}' '{{ step.name }}' '{{ step.interpreter }}' 'SKIPPED' | \
            __filterStepLogOutput ${_STEP_COUNTER} {{ RUN_PARALLEL }}
    fi
      {%- else %}
        {%- if step.iterate %}
    {{- realize_iterators(step, STEP_FUNCTION_NAME, RUN_PARALLEL, STAGE_NAME) }}
        {%- else %}
    __{{ STEP_FUNCTION_NAME }} ${_STEP_ID} 2>&1 | __filterStepLogOutput ${_STEP_COUNTER} {{ RUN_PARALLEL }}
        {%- endif %}
      {%- endif %}
    {%- if stage.wait %}
    wait
    {%- endif %}
    {%- endfor %}
}

__{{ STAGE_FUNCTION_NAME }}