#!/usr/bin/bash
# steprunner

trap '[[ -z $(gigEnvGet __ERR_LINENO) ]] && gigEnvSet __ERR_LINENO ${LINENO} && gigEnvSet __ERR_FILE_NAME $(basename ${BASH_SOURCE})' ERR

{%- set HAS_SECRETS = 'HAS_SECRETS' if step.secretVars else '' %}
{%- if HAS_SECRETS %}
gigSecretsAdd {{ step.secretVars|join(' ') }}
{%- endif %}

{%- if step.runtime == 'Custom' %}
RUNTIME_SCRIPT=$(cat <<'EOF'
{{ step.runtimeScript }}
EOF)
stepEnvSet RUNTIME_SCRIPT ${RUNTIME_SCRIPT}
{%- elif step.args %}
CLI_ARGS=$(cat <<'EOF'
{{ step.args|join(' ') }}
EOF)
stepEnvSet CLI_ARGS ${CLI_ARGS}
{%- endif %}

stepEnvSet RUNTIME {{ step.runtime }}
stepEnvSet TEMPLATE_TYPE '{{ step.templateType if step.templateType else '' }}'
stepEnvSet STAGE_NAME {{ stage.name }}
stepEnvSet STEP_NAME {{ step.name }}
stepEnvSet STEP_FILE {{ '$GIGRUN_HOME/{}/step__{}_{}'.format(GIGMOD_DIR_NAME, stage.name, step.name) if step.script else step.filePath }}
stepEnvSet PWD "$(pwd)"

${GIGRUN_HOME}/execute-runtime.sh
stepEnvSet __STEP_RESULT $?