#!/usr/bin/bash
# steprunner

trap '[[ -z $(gigEnvGet __ERR_LINENO) ]] && gigEnvSet __ERR_LINENO ${LINENO} && gigEnvSet __ERR_FILE_NAME $(basename ${BASH_SOURCE})' ERR

{%- set HAS_SECRETS = 'HAS_SECRETS' if step.secretVars else '' %}
{%- if HAS_SECRETS %}
gigSecretsAdd {{ step.secretVars|join(' ') }}
{%- endif %}

{%- if step.runtime == 'Custom' %}
RUNTIME_SCRIPT=$(cat <<'EOF'
{{ step.runtimeScript }}
EOF
)
stepEnvSet RUNTIME_SCRIPT ${RUNTIME_SCRIPT}
{%- endif %}

stepEnvSet RUNTIME {{ step.runtime }}
stepEnvSet TEMPLATE_TYPE '{{ step.templateType if step.templateType else '' }}'
stepEnvSet STAGE_NAME {{ stage.name }}
stepEnvSet STEP_NAME {{ step.name }}
stepEnvSet STEP_FILE {{ '$GIGRUN_HOME/{}/step__{}_{}'.format(GIGMOD_DIR_NAME, stage.name, step.name) if step.script else step.scriptPath }}
stepEnvSet PWD "$(pwd)"
{%- if step.outputFile %}
stepEnvSet OUTPUT_FILE '{{ step.outputFile }}'
{%- endif %}

{%- if step.type == 'Custom' %}
    {%- set RUNTIME_GIG_MOD_NAMESPACE = gigmod.namespace
        if not (step.customRuntimeRef and step.customRuntimeRef.gigModuleRef.namespace)
        else step.customRuntimeRef.gigModuleRef.namespace
    %}
    {%- set RUNTIME_GIG_MOD_NAME = gigmod.name
        if not (step.customRuntimeRef and step.customRuntimeRef.gigModuleRef.name)
        else step.stepRef.gigModuleRef.name
    %}
    {%- set RUNTIME_RUN_DIR = '{}_{}'.format(RUNTIME_GIG_MOD_NAMESPACE, RUNTIME_GIG_MOD_NAME) %}
    {%- set STAGE_NAME = stage.name if not step.customRuntimeRef else step.customRuntimeRef.stage %}
    {%- set STEP_NAME = stage.name if not step.customRuntimeRef.name else step.customRuntimeRef.name %}
${GIGRUN_HOME}/{{ RUNTIME_RUN_DIR }}/runtime__{{ STAGE_NAME }}_{{ STEP_NAME }}.sh
{%- else %}
${GIGRUN_HOME}/execute-{{ step.type | lower }}.sh
{%- endif %}

stepEnvSet __STEP_RESULT $?